################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config/applicationhost.config
/RespondentImporter/node_modules
/RespondentImporter/Properties/PublishProfiles
/RespondentImporter/wwwroot/upload
